./output/dificil_1_custo_uniforme.json
./output/dificil_2_a_pecas_fora_do_lugar.json
./output/dificil_3_manhattan.json
./output/dificil_4_a_nao_admissivel_soma.json
./output/facil_1_custo_uniforme.json
./output/facil_2_a_pecas_fora_do_lugar.json
./output/facil_3_a_manhattan.json
./output/facil_4_a_nao_admissivel_soma.json
./output/medio_1_custo_uniforme.json
./output/medio_2_a_pecas_fora_do_lugar.json
./output/medio_3_a_manhattan.json
./output/medio_4_a_nao_admissivel_soma.json